
<table align="center">
  <div class="log-form">
    <h2>Login to your account</h2>
    <form>
      <input type="text" title="username" placeholder="username" /><br>
      <br>

      <input type="password" title="username" placeholder="password" /><br>
      <button type="submit" class="btn">Login</button> <br><br>

      <a class="forgot" href="#">Forgot Username?</a>
    </form>
    </div>
    
        <div class="row">
        <div class="col">
          <p>create an account <a routerLink="/registration"> Register</a> </p>      
        </div>
</div>

</table>